
.logo-img {
    width: 70px; 
    height: auto;
    margin-right: 10px;
}

/* Navbar styles */
.navbar {
    padding-top: 16px;
}


.search-bar {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 1rem;
}
.search-input {
    width: 418px;
    height: 40px;
    background-color: #000000;
    color: var(--text-color);
    padding: 8px 12px 8px 38px; /* Space for the icon */
    border: none;
    border-radius: 2px;
    background-image: url('../img/icon.png');
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: 12px center;
}





.search-input::placeholder {
    color: #888;
}

/* Sign In Button */
.sign-in {
    color: white; /* Set text color to white */
    border: 1px solid white; /* Set border color to white */
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s ease;
}


.sign-in:hover {
    background-color: var(--text-color);
    color: var(--primary-bg);
}

/* Menu Section */
.menu {
    background-color: #000000 !important;
    padding: 10px 0;
    height: 48px;
    margin: 0 auto;
    border-bottom: 1px solid #000000;
}

/* Dropdown Menu */
.dropdown-menu {
    background-color: var(--primary-bg);
    border: 1px solid var(--border-color);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
    color: var(--text-color) !important;
}

.dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Mobile Styles */
.navbar-toggler {
    border-color: var(--text-color);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Responsive Adjustments */
@media (max-width: 991px) {
    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo-img {
        width: 40px; 
    }

    .search-bar {
        flex-grow: 1; 
        margin: 0 10px; 
    }

    .search-input {
        width: 100%; 
    }

    .sign-in {
        width: auto; 
        margin: 7px; 
    }

   
    .nav-item {
        display: none;
    }
}


/* Extra Small Devices */
@media (max-width: 437px) {
    .search-input {
        width: 100%;
        font-size: 14px;
        padding: 6px 10px 6px 32px;
    }

    .logo-img {
        width: 52px;
        /* margin-right: 4px; */
    }

    .sign-in {
        font-size: 10px;
        padding: 4px 10px;
    }

    .navbar {
        padding: 0.25rem 0;
    }

    .container {
        padding: 0 0.5rem;
    }

    .nav-link {
        font-size: 14px;
        padding: 0.25rem 0.5rem;
    }

    .menu {
        height: 40px;
        padding: 5px 0;
    }
}