section{
    padding: 120px 12%;
}

.home-section-1{
    width: 100%;
    height: 800px;
    background-color: #040B12;
    color: #F4FBFF;
}
/* .section-1-head-card{
    background-color: transparent;
} */
.wd-card{
    width: 448px;
    height: 250px;
    background-color: #11309C;
}
.panorama-card{
    width: 448px;
    height: 250px;
    background-color: #D64210;
}